.left-bar {
    display: flex;
    flex-direction: column;
    background: #111;
    width: 350px;
    //max-height: 100vh;
    height: 100%;
    padding: 15px;
    color: #bbb;

    a {
        color: inherit;
        text-decoration: inherit;
    }

    .menu {
        margin-bottom: 40px;

        .tab {
            padding: 10px 10px 13px 10px;
            display: flex;
            align-items: center;
            height: 40px;
            border-radius: 5px;
            font-weight: bold;

            .icon {
                margin-right: 10px;
            }

            &:hover {
                background: #222;
                color: white;
                cursor: pointer;
            }
        }
    }

    .playlists {
        .create-playlist {
            padding: 10px 10px 13px 10px;
            display: flex;
            align-items: center;
            height: 40px;
            border-radius: 5px;
            font-weight: bold;

            .icon {
                margin-right: 10px;
            }

            &:hover {
                background: #222;
                color: white;
                cursor: pointer;
            }
        }

        .list {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-left: 10px;
        }
    }

}
