.left-bar {
    display: flex;
    flex-direction: column;
    background: #111;
    max-width: 200px;
    width: 200px;
    max-height: 100vh;
    height: 100vh;
    padding: 15px;
    color: #bbb;

    .menu {
        margin-bottom: 40px;

        .tab {
            padding: 10px 10px 13px 10px;
            display: flex;
            align-items: center;
            height: 40px;
            border-radius: 5px;
            font-weight: bold;

            &:hover {
                background: #222;
                color: white;
                cursor: pointer;
            }

            .icon {
                margin-right: 10px;
            }
        }
    }

    .playlists {
        .create-playlist {
            padding: 10px 10px 13px 10px;
            display: flex;
            align-items: center;
            height: 40px;
            border-radius: 5px;
            font-weight: bold;

            .icon {
                margin-right: 10px;
            }
        }
    }

}
