.home {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;

    .card {
        width: 30%;
        max-width: 300px;
        background: #333;
        color: white;

        .test {
            margin: 5%;
            padding-top: 100%;
            width: 90%;
            background: orange;
        }

        .title {
            margin: 0 5% 0 5%;
        }
    }
}