.right-bar {
    display: flex;
    flex-direction: column;
    background: #111;
    width: 350px;
    max-height: 100vh;
    height: 100vh;
    padding: 15px;
    color: #bbb;
    overflow: auto;

    .title {
        color: white;
        font-weight: bold;
        font-size: 110%;
    }

    .friends {
        display: flex;
        flex-direction: column;
    }
}