.right-bar {
    display: flex;
    flex-direction: column;
    background: #111;
    width: 400px;
    //max-height: 100vh;
    height: 100%;
    padding: 15px;
    color: #bbb;

    .title {
        color: white;
        font-weight: bold;
        font-size: 110%;
    }

    .friends {
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding-right: 10px;
        height: 100%;
        max-height: 100%;
    }
}