.right-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    background: #111;
    width: 230px;
    max-height: 100vh;
    height: 100vh;
    padding: 15px;
    color: #bbb;

    .title {
        color: white;
        font-weight: bold;
        font-size: 110%;
    }

    .friends {
        display: flex;
        flex-direction: column;

        div {
            margin-top: 10px;
        }
    }
}